#.gitignore -- schoonovernumerics/SELF/

*~
*.toc
*.synctex.gz
*.out
*.bbl
*.aux
*.log
*.tec
*.o
*.mod
*.session
*.session.gui
visitlog*
*.pickup
integrate_sw
initialize_sw
*.txt
Specmesh+3D
*.curve
*.data
*.dat
